@import "../../variables.scss";

.NavBarContainer {
    display: inline-flex;
    width: 100%;
    height: $nav-bar-height;
    margin: 0;
    color: white;
    .NavBar {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        width: 100%;
        padding: 0 40px;
        .NavLink{
            border: none;
            border-radius: 20px;
            margin: 0 10px;
            padding: 0.4em 1.5em;
            cursor: pointer;
            outline: inherit;
            background-color: $primary-color;
            text-decoration: none;
            color: inherit;
            font-size: 1.1rem;
            transition: background-color 0.2s ease-in-out;
            &.active{
                //animation for active link shifting
                background-color: white;
                color: black;
            }
        }
    }
    .AppLogo{
        margin: auto;
        text-decoration: none;
        color: black;
        font-size: 2em;
    }
}