@import "../../variables.scss";

.gallery-container{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    min-height: 100vh;
    .filter-buttons{
        padding: 0 $page-blank-side;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 10px;
        button {
            background: none;
            border: 1px solid gray;
            color: black;
            margin-right: 10px;
            margin-bottom: 10px;
            padding: 10px 20px;
            border-radius: 20px;
            font-size: medium;
            cursor: pointer;
            &:hover, &.selected{
                background-color: $primary-color;
                color: white;
                border: 1px solid $primary-color;
            }
        }
    }
    .gallery{
        padding: 0 $page-blank-side;
        display: flex;
        flex-wrap: wrap;
        .movie{
            width: calc(20% - 10px);
            margin-right: 10px;
            margin-bottom: 20px;
            cursor: pointer;
            transition: all 0.05s ease-in-out;
            border-radius: 5px;
            overflow: hidden;
            color: gray;
            &:hover{
                .movie-title{
                    font-weight: bolder;
                }
                scale: 1.05;
                
            }
            img{
                width: 100%;
                aspect-ratio: 207.4 / 311.09;
                object-fit: cover;
                overflow: hidden;
            }
            .movie-title{
                font-weight: light;
                color: black;
            }
        }
    }
}